.sakura-navbar {
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #eff1fa;
    position:fixed;
    width: 100%;
    z-index: 3;
}

#section-image {
    height: 100vh;
    background-image: url("http://area.sinaapp.com/bingImg");
    background-size: cover;
    /* -webkit-filter: blur(3px) grayscale(12.5%); */
    z-index: -1;
}


.item-be-center {
    /* padding-top: 44px; */
    display: flex;
    justify-content:center;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

.image-text-center > * {
    color: #fff;
}

.login-card {
    min-width: 50vw;
}

.center {
    text-align: center
}

.content-with-nav {
    padding-top: 44px;
}

.container {
    padding-top: 2vh;
    padding-left: 4vw;
    padding-right: 4vw;
    width: 100%;
}

.full-width {
    width: 100%;
}

.underline {
    border-bottom: 2px #000000 solid !important;
}

.message-hide {
    display: none;
}
